<section class="todo-inventory" ng-controller="ListController">
    <ul class="todo-inventory-category">
        <li class="todo-inventory-selected" id="todo-all">所有</li>
        <li id="todo-doing">未完成</li>
        <li id="todo-done">已完成</li>
    </ul>
    <dl class="todo-inventory-detail" ng-controller="TaskController">
      <span ng-repeat="tasks in taskList | filter: {taskList: curList.taskList} | orderBy: time"
            ng-controller="CateController">
        <dt>
          <time ng-model="tasks.time">{{tasks.time | date: 'yyyy-MM-dd'}}</time>
        </dt>
        <dd ng-model="tasks.title"
            ng-click="changeTaskId(tasks.id)">{{tasks.title}}</dd>
      </span>
    </dl>
    <a id="todo-add-task" ng-click="addNewTask($event)"><i class="fa fa-plus fa-fw"></i>新增任务</a>
</section>
